/*! HTML5 Boilerplate v5.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
	color: #222;
	font-size: 16px;
	line-height: 1.4;
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

::selection {
	background: #b3d4fc;
	text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
	vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
	resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

a, .hyperLink {
	color: #1A99AA;
}

h1, h2, h3 {
	font-weight: 600;
}

/* ==========================================================================
   Icons
   ========================================================================== */
.icon {
	background: url("../img/icons-hris.png") 0 0 no-repeat;
	background-size: 960px;
}
.icon.arrowright {
	background-position: -192px 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
}
.icon.arrowrightwhite {
	background-position: -208px 0;
	display: inline-block;
	width: 16px;
	height: 16px;
	position: relative;
	top: 3px;
}
.icon.arrowrightlargewhite {
	background-position: -471px -15px;
	display: inline-block;
	width: 18px;
	height: 36px;
	position: relative;
}
.icon.dhrmlogosmall {
	background-position: -277px -18px;
	display: block;
	float: left;
	width: 24px;
	height: 28px;
	position: relative;
	top: 50%;
	margin: -14px 6px 0 0;
}
.icon.check {
	background-position: -680px -7px;
	display: block;
	width: 16px;
	height: 16px;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
	position: absolute;
}
.circle_small {
	border-radius: 50%;
	width: 24px;
	height: 24px;
	display: inline-block;
	position: relative;
}
.icon.commentsopen {
	background-position: -712px -9px ;
	width: 49px;
	height: 46px;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -23px;
	position: absolute;
}
.small .icon.commentsopen {
	background-position: -782px -15px;
	width: 36px;
	height: 35px;
	margin: -18px 0 0 -18px;
}
.small .icon.commentsclose{
	background-position: -847px -15px;
	width: 36px;
	height: 35px;
	top: 50%;
	left: 50%;
	margin: -18px 0 0 -18px;
	position: absolute;
}
.size-small:hover .icon.commentsclose {
	background-position: -847px -79px;
}
.icon.protectedWhite {
	background-position: -907px -73px;
	width: 43px;
	height: 46px;
	position: absolute;
	top: 50%;
	left: 15px;
	margin: -23px 0 0 0;
}
.icon.protectedRed {
	background-position: -896px 0;
	width: 32px;
	height: 32px;
}
.icon.add {
	background-position: -679px -40px;
	width: 15px;
	height: 15px;
	position: absolute;
	top: 50%;
	left: 5px;
	margin: -7px 0 0 0;
}
.icon.alert {
	background-position: -768px -64px;
	width: 64px;
	height: 64px;
}
.icon.message {
	background-position: -768px -128px;
	width: 64px;
	height: 64px;
}
.ajax-loader {
	background: transparent url("../img/ajax-loader.gif") no-repeat center center;
	width: 64px;
	height: 64px;
	display: block;
}
#more-records-row, .more-records-row {
	text-align: center;
	/*having a white background looks weird on the rif list; the gray makes the button correctly not appear as part of the data */
	/*background-color: white;*/
}
#more-records-row .ajax-loader, .more-records-row .ajax-loader {
	margin: 0 auto;
}
.more-records-row .button.noHover {
	cursor: default;
	-webkit-filter: brightness(100%);
	filter: brightness(100%);
}

#saveSpinner {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	opacity: 0.5;
	background-color:black;
	color:white ;
	z-index: 9999;
	width: 100%;
	height: 100%;
	padding-left: 54%;
	padding-top: 20%;
}

#saveSpinner .ajax-loader {
	padding-left: 8%;
}
/* ==========================================================================
   Main Layout
   ========================================================================== */

body {
	color: #666;
	min-width: 1024px;
}

.site-full {
	width: 100%;
	position: relative;
}

#mainmenu, #mainsearch {
	position: fixed;
	width: calc(100% - 48px);
	max-width: calc(480px - 48px);
	overflow-y: auto;
	height: 100%;
	-webkit-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
	opacity: 0;
	z-index: -1;
}
#mainmenu {
	left: 0;
	top: 0;
}
#mainsearch {
	right: 0;
	top: 0;
}
#mainmenu.menuopen, #mainsearch.searchopen {
	opacity: 1;
	z-index: 0;
}

#outer-wrapper {
	overflow: hidden;
}
#outer-wrapper #inner-wrapper {
	-webkit-transition: -webkit-transform 300ms cubic-bezier(.694, .0482, .335, 1);
	transition: transform 300ms cubic-bezier(.694, .0482, .335, 1);
	background: #FFFFFF;
	position: relative;
}
#outer-wrapper.menuopen #inner-wrapper {
	-webkit-transform: translate3d(calc(480px - 48px), 0, 0);
	transform: translate3d(432px, 0, 0);
	transform: translate3d(calc(480px - 48px), 0, 0);
	box-shadow: -5px 0 10px rgba(0,0,0,0.4);
}
#outer-wrapper.searchopen #inner-wrapper {
	-webkit-transform: translate3d(calc(-480px + 48px), 0, 0);
	transform: translate3d(-432px, 0, 0);
	transform: translate3d(calc(-480px + 48px), 0, 0);
	box-shadow: 5px 0 10px rgba(0,0,0,1);
}
#footer-wrapper {
	position: relative;
	text-align: center;
	margin: 15px 0;
	font-size: 12px;
}


/* ==========================================================================
   Header
   ========================================================================== */
#header-wrapper {
	height: 52px;
	box-shadow: 0 -9px 5px 10px rgba(0, 0, 0, 0.2);
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
}
#header-wrapper-placholder {
	height: 52px;
	width: 100%;
}
#header-content {
	height: 52px;
	line-height: 52px;
	color: #222;
	font-weight: 500;
	float: left;
	margin: 0 0 0 15px;
	cursor: pointer;
}
#header-title {
	font-weight: bold;
	font-size: 1.1em;
}
#mainmenu-button-wrapper, #home-button-wrapper, #mainsearch-button-wrapper, #account-button-wrapper {
	/*background: #f6f6f6;*/
	transition: all 500ms;
}
#mainmenu-button-wrapper:hover, #home-button-wrapper:hover, #mainsearch-button-wrapper:hover, #account-button-wrapper:hover {
	background: #A5CDD3;
}
#mainmenu-button-wrapper, #mainmenu-button {
	/*position: absolute;*/
	/*left: 0;*/
	/*top: 0;*/
	float: left;
	width: 52px;
	height: 52px;
	z-index: 20;
}
#mainmenu-button {
	display: block;
	position: relative;
	background-position: -6px -6px;
	box-sizing: border-box;
}
#home-button-wrapper, #home-button {
	/*position: absolute;*/
	/*left: 54px;*/
	/*top: 0;*/
	float: left;
	width: 52px;
	height: 52px;
	margin: 0 0 0 2px;
}
#home-button-wrapper {
	display: none;
}
#home-button {
	display: block;
	position: relative;
	left: 0;
	top: 0;
	background-position: -136px -8px;
	box-sizing: border-box;
}
#mainsearch-button-wrapper, #mainsearch-button {
	position: absolute;
	right: 0;
	top: 0;
	width: 52px;
	height: 52px;
	z-index: 20;
}
#mainsearch-button {
	display: block;
	position: relative;
	background-position: -70px -6px;
	box-sizing: border-box;
}
#account-button-wrapper {
	position: absolute;
	right: 54px;
	top: 0;
	height: 52px;
}
#account-button {
	color: #222;
	display: block;
	height: 52px;
	position: relative;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	line-height: 52px;
	padding: 0 15px 0 25px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
}
#header-bar {
	height: 6px;
	border-top: 1px solid rgba(0,0,0,0.3);
	top: 41px;
	position: absolute;
}
#hrisnamelarge {
	display: block;
	float: right;
	font-size: 1.8em;
}
#hrisnamesmall {
	display: none;
}
#dhrmname {
	padding-right: 115px;
}

/* ==========================================================================
   User Menu
   ========================================================================== */
#loginmenu {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#loginmenu li {
	margin: 0;
	padding: 0;
}
#loginmenu li a {
	display: block;
	text-decoration: none;
	color: #232830;
	padding: 15px 20px;
}
#loginmenu li a:hover {
	background: #1A99AA;
	color: #FFFFFF;
}

/* ==========================================================================
   Main Menu
   ========================================================================== */
#mainmenu-header, #mainsearch-header {
	height: 52px;
	text-align: center;
	color: #cccccc;
	font-size: 20px;
	font-weight: 300;
	line-height: 46px;
}
#mainmenu-close {
	background-position: -328px -8px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 48px;
	height: 48px;
}
#mainmenu ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#mainmenu > ul > li {
	margin: 25px 0 30px calc((100% - 128px*2) / 3);
	padding: 0;
	float: left;
}
#mainmenu > ul > li > a {
	width: 128px;
	height: 128px;
	display: block;
	position: relative;
	text-decoration: none;
	color: #fff;
	text-align: center;
}
#mainmenu > ul > li > a:hover {
	box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.7);
}
#mainmenu > ul > li > a > span {
	display: block;
	position: absolute;
	bottom: -1.6em;
	left: 0;
	width: 100%;
}
#employee-menu {
	background-position: 0 -50px;
}
#classification-menu {
	background-position: -128px -64px;
}
#onboarding-menu {
	background-position: -256px -64px;
}
#offboarding-menu {
	background-position: -384px -64px;
}
#reports-menu {
	background-position: -640px -64px;
}
#admin-menu {
	background-position: -512px -64px;
}
/* --------------- Submenus --------------- */
#mainmenu .submenu {
	display: none;
	position: absolute;
	width: calc(((100% - 128px*2) /3) + (128px*2));
	top: 0;
	left: 0;
	color: #fff;
	text-shadow: 0 -2px 0 rgba(0,0,0,0.4);
	font-size: 20px;
	text-align: center;
	z-index: 1;
}
#mainmenu .submenu .header {
	color: #fff;
	box-sizing: border-box;
	line-height: 48px;
}
#mainmenu .submenu .header a.close {
	background-position: -392px -8px;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	height: 48px;
	width: 48px;;
}
#mainmenu .submenu ul li {
	margin: 2px 0 0 0;
	padding: 0;
}
#mainmenu .submenu ul li a {
	text-decoration: none;
	display: block;
	width: 100%;
	padding: 15px 5px;
	box-sizing: border-box;
	color: #fff;
	font-weight: 300;
}
#mainmenu .submenu ul li a:hover {
	box-shadow: inset 0 5px 10px rgba(0, 0, 0, 0.7);
}
/* --------------- Sub Sub Menus --------------- */
#mainmenu .subsubmenu {
	display: none;
	padding: 0 0 0 15px;
	-webkit-filter: brightness(115%);
	filter: brightness(115%);
}

/* ==========================================================================
   Main Search and Search Pages
   ========================================================================== */
#mainsearch-close {
	background-position: -328px -8px;
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 48px;
	height: 48px;
}

.pop-up-box .row.heading {
	background-color: white;
	color: #1a99aa;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
}

.accordion-header {
	padding: 10px;
	font-size: 20px;
	text-align: center;
	position: relative;
	z-index: 1;
	cursor: pointer;
	margin: 2px 0 0 0;
}
.accordion-panel {
	width: 80%;
	margin: 0 auto;
	padding: 20px 0 35px 0;
}
.searchleft {
	width: 100%;
	padding: 20px 30px;
	box-sizing: border-box;
}
.accordion-panel input, .searchleft input {
	width: 100%;
	display: block;
	margin: 15px 0 0 0;
}
.accordion-panel .select2-container, .searchleft .select2-container {
	width: 100% !important;
	display: block;
	margin: 15px 0 0 0;
}
.accordion-panel .button, .searchleft .button {
	display: block;
	width: 100%;
	font-size: 24px;
	line-height: 54px;
	padding: 10px;
	text-align: center;
	margin: 15px 0 0 0;
}

.button .icon.arrowrightlargewhite {
	position: absolute;
	right: 15px;
	top: calc(50% - 18px);
}

/* ==========================================================================
   Dashboard
   ========================================================================== */
#dashboard-queue {
	height: 70%;
}
.fluidfixedsidebar {
	width: 400px;
	height: calc(100% - 52px);
	position: fixed;
	overflow: auto;
	z-index: 100;
}
#outer-wrapper.menuopen .fluidfixedsidebar,
#outer-wrapper.searchopen .fluidfixedsidebar {
	position: absolute;
}
.fluidfixedcontent {
	float: left;
	padding:0 !important;
	width: calc(100% - 400px);
	margin-left: 400px;
}

.que-box {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	box-shadow: -3px 0 10px rgba(0,0,0,0.1) inset;
}
.que-box table {
	width: 100%;
	background: #fff;
	font-size: 1.1em;
}
.que-box tr td {
	line-height: 1.6em;
}
.que-box tr .que-title {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 85%;
	padding: 15px;
	box-shadow: -3px -5px 10px -5px rgba(0,0,0,0.5) inset;
	color: #ffffff;
	font-weight: 300;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}
.que-box tr:hover {
	cursor: pointer;
}
.que-box tr:hover .que-title {
	background: #1A99AA;
}
.que-box tr.selected .que-title {
	background: #1A99AA;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.que-box tr .que-title.full {
	width: 100%;
}
.que-box tr .que-number {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 15%;
	text-align: center;
	padding: 15px 0;
	box-shadow: -5px -5px 10px -5px rgba(0,0,0,0.5) inset;
	vertical-align: middle;
	color: #ffffff;
	font-weight: 600;
	transition: all 500ms;
}
.que-box tr.selected .que-number {
	color: #303641; /* blue */
	background: #A5CDD3;
}


.que-box .searchfield {
	border: 0;
}

.dashboardbackdrop {
	background: #333333;
}
#bottom-separator {
	width: 100%;
	height: 8px;
}
#widgets {
	height: calc(30% - 8px);
}
#widgets .col3 {
	height: 100%;
	box-shadow: inset 6px 6px 6px rgba(0,0,0,0.2);
}

/* ==========================================================================
   Editor Layout
   ========================================================================== */
.fluidfixedsidebar.narrow {
	width: 300px;
}
.fluidfixedcontent.narrow {
	width: calc(100% - 300px);
	margin-left: 300px;
}
.sidebarContent {
	color: #fff;
}
.sidebarContent.flex {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.sidebarContent.padded {
	padding: 15px;
}
.sidebarContent .name {
	font-size: 1.2em;
	text-align: center;
	padding: 15px 0;
}
.sidebarContent .marginBottom {
	margin-bottom: 15px;
}
.sidebarContent .marginTop {
	margin-top: 15px;
}
.employeeStatusBox {
	display: inline-block;
	background: #999999;
	padding: 1px 5px;
	color: #000;
}
.employeeStatusBox.active {
	background: #6f933c;
}
ul.indexlist {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.indexlist li {
	margin: 0;
	padding: 0;
}
ul.indexlist a {
	text-decoration: none;
	color: #A5CDD3;
	display: block;
	padding: 5px 15px;
	transition: all 300ms;
}
ul.indexlist a:hover {
	color: #FFFFFF;
	background: #232830;
}
.mainFormWrapper {
}
.mainFormContent {
	position: relative;
	float: left;
	width: 100%;
}
.mainFormContent #fixedSection {
	position: fixed;
	top: 52px;
	right: 0;
	width: calc(100% - 300px);
	z-index: 50;
}
#outer-wrapper.menuopen .mainFormContent #fixedSection,
#outer-wrapper.searchopen .mainFormContent #fixedSection{
	position: absolute;
	top: 0;
}
.mainFormContent #protectedEmployee {
	height: 70px;
	position: relative;
	padding: 0 80px 0 80px;
	color: #FFF;
}
.mainFormContent #protectedEmployee .title {
	font-size: 1.8em;
	font-weight: 300;
	height: 70px;
	vertical-align: middle;
	min-width: 310px;
	display: table-cell;
}
.mainFormContent #protectedEmployee .text {
	height: 70px;
	vertical-align: middle;
	display: table-cell;
}
.mainFormContent #protectedEmployee a {
	color: #fff;
	text-decoration: underline;
}
.mainFormContent .protectedHeaderPlaceholder {
	content: "";
	width: 100%;
	height: 70px;
}
.editorSection {
	margin: 0 0 2px 0;
}
.editorSection header {
	/* make relative so action Propose Change button can be absolute */
	position: relative;
}
.editorSection header a,
h2, h3 {
	text-decoration: none;
	font-size: 1.2em;
	text-align: center;
	padding: 15px;
	display: block;
	position: relative;
	color: #1A99AA;
	margin: 0;
}
.editorSection header a {
	box-shadow: 0 0 6px rgba(0,0,0,0.15);
	transition: all 300ms;
}
h3 {
	font-size: 1.1em;
	padding: 0 0 15px 0;
}
.editorSection header a.title:after {
	content: '';
	display: block;
	position: absolute;
	right: 15px;
	top: 50%;
	margin-top: -13px;
	width: 14px;
	height: 26px;
	background: url("../img/icons-hris.png") 0 0 no-repeat;
	background-size: 960px;
	background-position: -538px -19px;
}
.editorSection header.open a.title:after {
	margin-top: -7px;
	width: 26px;
	height: 14px;
	background-position: -595px -26px;
	right: 10px;
}
.editorSection .sectionContent {
	display: none;
	padding: 15px;
	box-sizing: border-box;
	position: relative;
}
.editorSection .sectionContent .headerButton, header .headerButton {
	position: absolute;
	top: -45px;
}
.editorSection .sectionContent .headerButtonRight, header .headerButtonRight {
	right: 45px;
}

.editorSection header.open + .sectionContent {
	display: block;
}
.headerSection {
	padding: 15px;
}
/* --------------- COMMENTS / HISTORY --------------- */
#commentsListWrapper {
	position: fixed;
	z-index: 70;
	width: 300px;
	overflow-y: scroll;
	overflow-x: hidden;
	right: 0;
	height: calc(100% - 52px);
	background: #ffffff;
}
#commentDivider {
	width: 6px;
	height: calc(100% - 52px);
	top: 52px;
	right: calc(300px - 6px);
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	float: left;
	background: #fafafa;
	position: fixed;
	z-index: 71;
	cursor: col-resize;
}
#previous-comments {
	width: calc(100% - 6px);
	float: left;
	margin: 0 0 0 6px;
}
#commentHeaderPlaceholder {
	width: 100%;
	height: 52px;
}
#commentHeader {
	height: 52px;
	width: 300px;
	position: fixed;
	right: 0;
	color: #FFFFFF;
	z-index: 72;
}

#outer-wrapper.menuopen #commentsListWrapper,
#outer-wrapper.menuopen #commentDivider,
#outer-wrapper.menuopen #commentHeader,
#outer-wrapper.searchopen #commentsListWrapper,
#outer-wrapper.searchopen #commentDivider,
#outer-wrapper.searchopen #commentHeader {
	position: absolute;
}

#commentHeader .title,
#commentHeader .commentcount {
	float: left;
	line-height: 52px;
	margin: 0 0 0 8px;
}
#commentHeader .commentcount {
	text-align: center;
	width: 2em;
	position: absolute;
	right: 63px;
}
#commentHeader .addcomment {
	display: block;
	float: left;
	position: absolute;
	height: 52px;
	min-width: 30px;
	margin: 0 0 0 15px;
	right: 100px;
	color: #fff;
	text-decoration: none;
}
#commentHeader .addcomment .buttonTitle {
	padding: 0 10px 0 28px;
	line-height: 52px;
	display: none;
}
#commentHeader .addcomment:hover .buttonTitle {
	display: block;
}
.arrowleftfront:before {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 26px 12px 26px 0;
	border-color: transparent #6f933c transparent transparent;
	position: absolute;
	left: -12px;
	top: 0;
	transform: scale(0.9999);
}
.arrowleftback:after {
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 26px 12px 26px 0;
	border-color: #6f933c transparent #6f933c transparent;
	position: absolute;
	right: -12px;
	top: 0;
	transform: scale(0.9999);
}
#commentHeader:before {
	border-color: transparent #363C46 transparent transparent;
}

.commentsButton {
	position: absolute;
	right: 0;
	top: 0;
	width: 70px;
	height: 70px;
	background: rgba(0,0,0,0.3);
	transition: all 500ms;
}
.commentsButton:hover {
	background: rgba(0,0,0,0.8);
}
.commentsButton.small {
	width: 52px;
	height: 52px;
}
.commentsButton:before {
	border-width: 35px 18px 35px 0;
	border-color: transparent rgba(0,0,0,0.3) transparent transparent;
	left: -18px;
	transition: all 500ms;
}
.commentsButton.small:before {
	border-width: 26px 12px 26px 0;
	left: -12px;
}
.commentsButton:hover:before {
	border-color: transparent rgba(0,0,0,0.8) transparent transparent;
}

#commentsFilter .clearCommentFilter:after {
	content: "X";
}
#commentsFilter .clearCommentFilter {
	background-color: #f3f3f3;
	border: 1px solid #efefef;
	border-radius: 20px;
	color: #666;
	float: right;
	font-size: 12px;
	height: 10px;
	line-height: 10px;
	margin-right: 6px;
	margin-top: -29px;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	width: 10px;
}
#commentsFilter .clearCommentFilter:hover {
	background-color: #DF6C4F;
	text-decoration: none;
	border: 1px solid #fff;
	color: white;
	overflow: hidden;
}
#commentsFilter input {
	border: none;
	box-shadow: none;
	border-radius: 0;
	width: calc(100% - 6px);
	float: right;
}

ul.commentsHistoryList {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul.commentsHistoryList li.commentsHistoryItem {
	margin: 0;
	padding: 0;
	/*border-radius: 10px 10px 0 0;*/
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
	background: #FAFAFA;
}
ul.commentsHistoryList li.commentsHistoryItem:hover {
	background: #F1FDFF;
	cursor: pointer;
}
ul.commentsHistoryList li.commentsHistoryItem .header {
	padding: 5px 10px;
	color: #AAAAAA;
}
ul.commentsHistoryList li.commentsHistoryItem .title {
	float: left;
	font-style: italic;
}
ul.commentsHistoryList li.commentsHistoryItem .changer {
	clear: left;
}
ul.commentsHistoryList li.commentsHistoryItem .timeFull {
	display: none;
}
ul.commentsHistoryList li.commentsHistoryItem .timeShort {
	float: right;
	font-size: .9em;
	line-height: 1.6;
}
ul.commentsHistoryList li.commentsHistoryItem .comment {
	padding: 5px 10px;
	max-height: 4em;
	overflow: hidden;
}
ul.commentsHistoryList li.commentsHistoryItem ul.changelist {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: none;
}
ul.commentsHistoryList li.commentsHistoryItem ul.changelist li {
	margin: 0;
	padding: 10px;
	background: #eeeeee;
}
ul.commentsHistoryList li.commentsHistoryItem .label {
	font-weight: bold;
}


/* ==========================================================================
   Columns
   ========================================================================== */
.columns {

}

.columns .col2 {
	margin-left:4%;
	width:48%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
}

.columns .col2:first-child {
	margin-left:0;
}

.columns .col3 {
	margin-left:3.5%;
	width:31%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
}
.columns .col3:first-child, .columns .col3:nth-child(3n+4) {
	margin-left:0;
	clear: left;
}
.columns .col3.nogap {
	margin-left: 0;
	width: 33.33%;
}

.columns .col4 {
	margin-left:4%;
	width:22%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
}
.columns .col4:first-child {
	margin-left:0;
}

.columns .col5 {
	margin-left:2.5%;
	width:18%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
}
.columns .col5:first-child {
	margin-left:0;
}

/* ==========================================================================
   Tabs
   ========================================================================== */
.twoTabs {
	width: 100%;
}
.twoTabs a {
	display: block;
	width: 50%;
	float: left;
	padding: 10px;
	color: #FFFFFF;
	box-sizing: border-box;
	text-align: center;
	text-decoration: none;
	transition: all 300ms;
}

/* ==========================================================================
   Form Fields
   ========================================================================== */

/* ====== Buttons ====== */
.button, #employee-action-propose {

	box-sizing: border-box;
	border-radius: 3px;
	padding: 5px 15px;
	text-decoration: none;
	transition: all 400ms;
	color: #222;
	vertical-align: middle;
	border: 1px solid rgba(255,255,255,0);
	cursor: pointer;
	/* check mark on workflow buttons on proposed job need this to be relative in order to position correctly */
	position: relative;
}
#employee-action-propose {
	/* without this, the button was moved down from where it should be on the actions tab bar */
	position: absolute;
}
.button:focus {
	border: 1px solid rgba(0,0,0,0.2);
}
.button.disabled {
	opacity: 0.25;
}
.button.disabled:hover {
	-webkit-filter: none;
	filter: none;
	cursor: default;
}
.button {
	display: block;
	text-align: center;
	/* need position:relative so that the arrow image (which is absolute positioned) will go to the right position) */
	position: relative;
}
.button.xsmall {
	font-size: 8px;
	line-height: 16px;
	padding: 2px;
}
.button.small {
	font-size: 10px;
	line-height: 24px;
	padding: 3px;
}
.button.large {
	font-size: 24px;
	line-height: 54px;
	padding: 10px;
}
.button.medium {
	display: block;
	text-align: center;
}
.accessibilityview .button.large {
	border: 2px solid #FFFFFF;
}

.button.icon {
	display: block;
	float: left;
	width: 38px;
	height: 34px;
	margin: 0 0 0 -3px;
	padding: 3px 10px;
	border: 1px solid #fff;
	border-left: none;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
	border-radius: 0 3px 3px 0;
	opacity: 1;

	/* need position:relative so that icon images (which are absolute 50% positioned) will fit in the middle of the calendar) */
	position: relative;
}
.button.icon:hover {
	-webkit-filter: none;
	filter: none;
}
.button.icon:focus {
	box-shadow: inset 0 6px 6px rgba(0,0,0,0.3);
}
.button.icon.calendar:after {
	content: '';
	background: url("../img/icons-hris.png") -645px -4px no-repeat;
	background-size: 960px;
	width: 18px;
	height: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -10px 0 0 -9px;
}

.button.complete:after {
	content: '';
	background: #000 url("../img/icons-hris.png") -676px -3px no-repeat;
	background-size: 960px;
	width: 25px;
	height: 25px;
	position: absolute;
	top: 50%;
	left: 5px;
	margin: -12px 0 0 0;
	border-radius: 50%;
}

.button.fixedwidth125 {
	width: 125px;
	text-align: center;
}
.button.fixedwidth200 {
	width: 200px;
	text-align: center;
}
.shadowed.flex {
	flex: 1 1 100%;
}
.shadowed {
	position: relative;
}
.shadowed:after {
	content: '';
	display: inline-block;
	background: url("../img/curve-shadow.png") 0 0 no-repeat;
	background-size: contain;
	height: 64px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.shadowed.large:after {
	background-size: cover;
	height: 82px;
}
.button.shadowed:after {
	position: absolute;
	top: auto;
	bottom: -64px;
}

/* ======== Do Nothing Button ========= */
.doNothingButton {
	display: inline-block;
	position: relative;
	width: 24px;
	height: 24px;
	background-color: #C1272D;
	border-radius: 12px;
	color: #fff !important;
	text-decoration: none;
	-moz-transition: 200ms background-color;
	-webkit-transition: 200ms background-color;
	transition: 200ms background-color;
}
.doNothingButton.center {
	display: block;
	margin: 0 auto;
}
.doNothingButton:hover {
	background-color: #E00000;
}
.doNothingButton.disabled {
	background-color: #666666;
}
.doNothingButton i.icon {
	background-position: -648px -39px;
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	top: 50%;
	left: 50%;
	/*background: transparent url('../img/x-icon.png') center center no-repeat;*/
	-moz-transition: 300ms all;
	-webkit-transition: 300ms all;
	transition: 300ms all;
}
.doNothingButton b {
	display: block;
	position: absolute;
	width:0;
	height: 0;
	opacity: 0;
	font-weight: normal;
	text-align: center;
	overflow: hidden;
}

/* ======== Delete Button ========= */
.deleteButton, .addButton{
	display: inline-block;
	position: relative;
	width: 24px;
	height: 24px;
	background-color: #C1272D;
	border-radius: 12px;
	color: #fff !important;
	text-decoration: none;
	-moz-transition: 200ms background-color;
	-webkit-transition: 200ms background-color;
	transition: 200ms background-color;
}
.addButton {
	background-color: #6F933D;
}
.deleteButton.center, .addButton.center{
	display: block;
	margin: 0 auto;
}
.deleteButton:hover {
	background-color: #E00000;
}
.addButton:hover {
	background-color: #5a7937;
}
.addButton i.icon {
	background-position: -678px -39px;
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	top: 50%;
	left: 50%;
	-moz-transition: 300ms all;
	-webkit-transition: 300ms all;
	transition: 300ms all;
}
.deleteButton i.icon {
	background-position: -648px -39px;
	display: block;
	position: absolute;
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	top: 50%;
	left: 50%;
	-moz-transition: 300ms all;
	-webkit-transition: 300ms all;
	transition: 300ms all;
}
.deleteButton b, .addButton b {
	display: block;
	position: absolute;
	width:0;
	height: 0;
	opacity: 0;
	font-weight: normal;
	text-align: center;
	overflow: hidden;
}


/* ====== Labels ====== */
label {
	width: 45%;
	text-align: right;
	display: block;
	float: left;
	padding: 3px 0 0 0;
	line-height: 1.8em;
}
.small label {
	width: 100%;
	text-align: left;
	float: none;
}
.pop-up-box label {
	width: 30%;
}
.row .dataSpan {
	margin-left: 10px;
}
.statictext {
	line-height: 1.8em;
	display: block;
	float: left;
	margin: 0 0 0 10px;
	padding: 3px 0 0 0;
	color: #333;
	max-width: 50%;
}
.small .statictext {
	margin: 0;
	max-width: 100%;
}
fieldset.radioset label {
	width: auto;
	display: inline;
	float: none;
}
fieldset.radioset li.selectradio label {
	width: auto;
	display: inline;
	float: left;
	margin-left: 4px;
}
label.checkbox {
	width: auto;
	display: inline;
	float: none;
}
.reqstar {
	color: #F00;
	padding-right: 5px;
}
label:hover {
	color: #000;
}
label.error, label.maskerror, div.sectionError {
	width: auto;
	display: block;
	float: left;
	background: #f00;
	color: #fff;
	padding: 3px 10px 3px 0;
	margin: 0 0 0 15px;
}
label.error:before, label.maskerror:before {
	content: '';
	position: relative;
	left: -10px;
	display: inline-block;
	border-top: 6px solid transparent;
	border-right: 10px solid #f00;
	border-bottom: 6px solid transparent;
	-moz-transform: scale(1.001);
}
div.sectionError, div.errorplaceholder {
	padding: 3px 10px;
	line-height: 1.8em;
}
div.sectionError.hcenter {
	margin: 0;
}

/* ====== Input ====== */
input[type="file"] {
	padding: 0 8px;
}
input[type="text"] {
	box-sizing: border-box;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 0 8px;
	height: 34px;
	line-height: 36px;
	/* color MUST match input.empty */
	color: #333333;
}
input[type="text"],
.searchfield {
	display: block;
	float: left;
	margin: 0 0 0 10px;
}
input[type="text"].searchfield {
	border-radius: 18px;
	display: block;
	margin: 0 15px;
	width: calc(100% - 30px);
	outline: none;
}
input[type="text"].searchfield.margin {
	margin: 15px;
}
.small input[type="text"] {
	margin: 0;
}
input[type="text"].error, textarea.error {
	border-color: red;
}
input[type="text"].unknownval, textarea.unknownval {
	color: #888;
}
input[type="text"][readonly], input[type="text"]:disabled {
	border-color: #DDD;
	background: #F4F4F4;
	box-shadow: none;
}
input.empty {
	/* color MUST match input[type="text"] */
	color: #333333;
}
textarea {
	box-sizing: border-box;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
	border: 1px solid #fff;
	border-radius: 3px;
	padding: 5px;
	display: block;
	float: left;
	margin: 0 0 0 10px;
	resize: both;
	max-width: 550px;
	height: 150px;
	line-height: 1.2em;
	outline: none;
}
.small textarea {
	margin: 0;
	max-width: 100%;
}
textarea[readonly], textarea:disabled {
	border-color: #DDD;
	background: #F4F4F4;
	box-shadow: none;
}
select {
	border: 1px solid #aaa;
	border-radius: 3px;
	display: block;
	float: left;
	margin: 0 0 0 10px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.15) inset;
	height: 1.5em;
	box-sizing: border-box;
}
input, textarea, .monospace, .select2-container .select2-choice, .select2-container .select2-choices {
	font-family: 'Roboto Mono', monospace;
}
input.normalfont {
	font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
.searchfield:focus {
	color: #444;
}
textarea.xsmall {
	width: 100px;
}
textarea.small {
	width: 150px;
}
textarea.medium {
	width: 200px;
}
textarea.large {
	width: 300px;
}
textarea.xlarge {
	width: 50%;
}
textarea.xlarge.error, input[type="text"].error.xlarge {
	width: calc(50% - 120px);
}
.pop-up-box textarea.xlarge {
	width: 65%;
}
.pop-up-box textarea.xlarge.error {
	width: 45%;
}
.small textarea.xlarge {
	width: 100%;
}
textarea.xxlarge {
	box-sizing: border-box;
	width: 96%;
	margin: 2%;
	max-width: none;
	resize: vertical;
	overflow: auto;
}
textarea.full {
	float: none;
	margin-left:25px;
	max-width: none;
	width: calc(100% - 50px);
}
textarea.full.error {
	width: calc(100% - 160px);
	float: left;
}
textarea.concise {
	height: 80px;
	resize: none;
}
textarea.moretext {
	height: 250px;
}
input.xsmall {
	width:100px;
}
input.small {
	width:150px;
}
input.medium {
	width:200px;
}
input.fullWithCalendar {
	width: calc(100% - 35px);
}
/* these have labels and fit with the normal size of a large text field in the popup */
.pop-up-box .fullWithCalendar {
	width: 265px;
}
input.large {
	width:300px;
}
input.large.datemask {
	width: 266px;
}
input.xlarge {
	width:400px;
}
input.fullwidth {
	width: 100%;
}
input[type="radio"] {
	margin-left: 10px;
}
input[type="checkbox"] {
	margin-left: 10px;
}
input[type="text"]:focus,
input[type="text"]:focus,
textarea:focus {
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px 2px rgba(119,214,255,0.8), 0 2px 2px rgba(0,0,0,0.3) inset;
}
.button:focus,
.questionmark:focus,
.questionmark:active,
input:focus {
	outline: none;
	box-shadow: 0 0 5px 2px rgba(119,214,255,0.8);
}
.button.unknownbutton {
	box-shadow: none;
}

.select2-container {
	display: block;
	float: left;
	margin: 0 0 0 10px;
}

input[type="file"] {
	display: block;
	float: left;
}

select.large {
	width: 300px;
}

/* ====== Form Layout ====== */
.row {
	margin-bottom: 10px;
}
.row.marginextra {
	margin-bottom: 25px;
}
.left-spacer {
	width: 45%;
	height: 1em;
	float: left;
	display: block;
}
.pop-up-box .left-spacer {
	width: 30%;
}
.spacer12px {
	margin-left: 12px;
}
.textcounter-wrapper {
	position: relative;
	width: 50%;
}
.textcounter-wrapper textarea {
	width: 100%;
}
.textcounter {
	display: block;
	width: 200px;
	position: absolute;
	text-align: right;
	left: -200px;
	bottom: 0;
	font-size: .8em;
	color: #999;
}
.helptext {
	display: none;
}

/* ==========================================================================
   Site Settings
   ========================================================================== */
#sitesettingsul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#sitesettingsul li {
	padding: 0;
	margin: 0 0 15px 0;
}

/* ==========================================================================
   Select 2 Overrides
   ========================================================================== */
.select2-container {
	display: block;
	float: left;
	margin: 0 0 0 10px;
}
.small .select2-container {
	margin: 0;
}
.select2-container.xsmall {
	min-width: 100px;
}
.select2-container.small {
	min-width: 150px;
}
.select2-container.medium {
	min-width: 200px;
}
.select2-container.large {
	min-width: 300px;
}
.select2-container.xlarge {
	min-width: 400px;
}
.select2-container.xxlarge {
	min-width: 500px;
}
.select2-container.xxxlarge {
	min-width: 600px;
}
.pop-up-box .select2-container.xlarge.error {
	min-width: 289px;
}
.select2-container-multi {
	max-width: 300px;
}

.select2-container .select2-choice {
	height: 32px;
}
.select2-container .select2-choice > .select2-chosen {
	line-height: 32px;
}
.select2-container .select2-choice .select2-arrow b {
	background-position: 0 3px;
}
.select2-dropdown-open .select2-choice .select2-arrow b {
	background-position: -18px 3px;
}
.select2-container-multi .select2-choices .select2-search-field input {
	padding: 0 7px	;
	font-family: inherit;
	height: 32px;
	line-height: 32px;
	border: none;
	box-shadow: none;
}
.select2-container-multi .select2-choices {
	border: 1px solid #fff;
	border-radius: 4px;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
	padding: 0 26px 0 0;
}
.select2-container.error .select2-choice,
.select2-container-multi.error .select2-choices {
	border-color: #F00;
}
.select2-container.select2-container-active .select2-choice,
.select2-container-active .select2-choices,
.select2-container-multi.select2-container-active .select2-choices {
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px 2px rgba(119,214,255,0.8), 0 2px 2px rgba(0,0,0,0.3) inset;
}
.select2-container-multi .select2-choices .select2-search-choice {
	padding: 7px 5px 7px 18px;
	line-height: 12px;
}
.select2-search-choice-close {
	top: 7px;
}

.select2-container-multi .select2-choices:before {
	content: ' ';
	border-color: #888 transparent transparent transparent;
	border-style: solid;
	border-width: 5px 4px 0 4px;
	height: 0;
	right: 7px;
	margin-top: -2px;
	position: absolute;
	top: 50%;
	width: 0;
}

.select2-container-multi.select2-dropdown-open .select2-choices:before {
	border-color: transparent transparent #888 transparent;
	border-width: 0 4px 5px 4px;
}

.select2-container-multi:after {
	content: ' ';
	position: absolute;
	display: block;
	width: 22px;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	right: 1px;
	top: 1px;
	box-shadow: inset 2px 0 2px rgba(0, 0, 0, 0.1);
	border-radius: 0 2px 2px 0;
}

.select2-search input {
	height: 24px;
	line-height: 24px;
}

/* ==========================================================================
   Entry Table
   ========================================================================== */
.entryTable {
	padding: 0;
}
.entryTable.scroll {
	overflow: auto;
	max-height: 400px;
}
.entryTable.small {
	max-width: 600px;
	margin: 0 auto;
}
.entryTable.medium {
	max-width: 800px;
	margin: 0 auto;
}
.entryTable table {
	width: 100%;
	border: none;
}
.entryTable th {
	font-weight: 700;
	font-size: 1em;
	text-align: left;
	padding: 10px 0 2px;
	border-bottom: 4px solid #ddd;
	position: relative;
}
.entryTable th.center {
	text-align: center;
}
.entryTable tr.noborder th {
	border-bottom: none;
	border-top: none;
	padding: 0 10px;
}
.entryTable table.sort th {
	cursor: pointer;
}
.entryTable th.deleteCol {
	width: 80px;
}
.entryTable th.protectedCol {
	width: 32px;
}
.entryTable table.sticky-thead th {
	background: #F9F9F9;
}
.entryTable th {
	border-top: 4px solid transparent;;
}
.entryTable th.headerSortDown {
	border-top: 4px solid #1A99AA;
}
.entryTable th.sorted,
.entryTable th.headerSortUp {
	border-bottom: 4px solid #1A99AA;
}
.entryTable tbody tr:hover td {
	position: relative;
	z-index: 40;
}
.entryTable td {
	font-size: 1em;
	padding: 8px 10px;
	height: 32px;
	vertical-align: top;
}
.entryTable td.nowrap {
	white-space: nowrap;
}
.entryTable tbody tr:nth-child(even) td {
	background: #fff;
}
.entryTable tbody tr:nth-child(odd) td {
	background: #EEF5F7; /* blue */
}
.entryTable tbody tr.selected td, .entryTable tbody tr:active td {
	background: #1A99AA;
	color: #fff;
}

.entryTable tr.selectable {
	cursor: pointer;
}

/* inactive records should not be the same as active even when selected */
.entryTable tr.selected.inactivated td {
	background: #7ab3bb none repeat scroll 0 0;
	color: #ccc;
}

.entryTable.smallTable table {
	font-size: .9em;
}

.entryTable tr.sortable-placeholder td {
	background: #DF6C4F;
}
.entryTable .sortable {
	cursor: pointer;
}
.entryTable th .button.float-right {
	position: absolute;
	right: 10px;
}

.entryTable td.right {
	text-align: right;
}
.entryTable td.center {
	text-align: center;
}

#reportFooter {
	display: flex;
	justify-content: space-around;
	padding: 20px 0;
	background-color: white;
}
#reportFooter .label {
	font-weight: bold;
}

/* ==========================================================================
   Date Picker
   ========================================================================== */
div.Zebra_DatePicker {
	position: absolute;
	z-index: 1000;
	background: #fff;
	box-shadow: 1px 1px 12px rgba(0,0,0,0.5);
	border-radius: 3px;
	overflow: hidden;
	box-sizing: border-box;
}
div.Zebra_DatePicker table {
	border-collapse: collapse;
	width: 100%;
}
div.Zebra_DatePicker table td {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	text-align: center;
}
div.Zebra_DatePicker table td:first-child {
	border-left: none;
}
div.Zebra_DatePicker table.dp_daypicker td,
div.Zebra_DatePicker table.dp_monthpicker td,
div.Zebra_DatePicker table.dp_yearpicker {
	border-bottom: 1px solid #ccc;
}

div.Zebra_DatePicker table.dp_header {
	width: 100%;
	background: #DF6C4F;
	color: #fff;
}
div.Zebra_DatePicker table.dp_header td {
	padding: 5px 10px;
	border: none;
}
div.Zebra_DatePicker table.dp_daypicker {
	width: 100%;
}
div.Zebra_DatePicker table.dp_daypicker td {
	width: 14.28%;
	padding: 2px 6px;
}
div.Zebra_DatePicker table.dp_footer td {
	border: none;
}

div.Zebra_DatePicker td.dp_not_in_month_selectable {
	background: #f2f2f2;
}
div.Zebra_DatePicker td.dp_selected {
	background: #DF6C4F;
	color: #fff;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
}
div.Zebra_DatePicker td.dp_current {
	font-weight: bold;
}
div.Zebra_DatePicker td:hover {
	cursor: pointer;
	background: #ddd;
	color: #222;
}
div.Zebra_DatePicker td.dp_previous:hover,
div.Zebra_DatePicker td.dp_caption:hover,
div.Zebra_DatePicker td.dp_next:hover,
div.Zebra_DatePicker td.dp_today:hover,
div.Zebra_DatePicker td.dp_clear:hover {
	background: #555;
	color: #fff;
}
div.Zebra_DatePicker td.dp_disabled,
div.Zebra_DatePicker td.dp_weekend_disabled,
div.Zebra_DatePicker td.dp_not_in_month {
	color: #AAA;
}
div.Zebra_DatePicker td.dp_disabled:hover,
div.Zebra_DatePicker td.dp_weekend_disabled:hover,
div.Zebra_DatePicker td.dp_not_in_month:hover {
	cursor: not-allowed;
	background: #fff;
	color: #AAA;
}
div.Zebra_DatePicker td.dp_not_in_month,
div.Zebra_DatePicker td.dp_not_in_month:hover {
	background: #f2f2f2;
}

/*  ==========================================================================
	Popup Dialog
	========================================================================== */
.pop-up-box-backdrop {
	background: rgba(0,0,0,0.7);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	overflow: auto;
}
.pop-up-box {
	background-color: #f9f9f9;
	border-radius: 8px;
	margin: 50px auto;
	display: block;
	position: relative;
	width: 620px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.4);
}
.pop-up-box.padded {
	padding: 30px;
}
.pop-up-box.large {
	width: 920px;
}
.pop-up-box {
	border: none;
}
.pop-up-box-content {
	background: #f2f2f2;
	border-radius: 8px;
	overflow: hidden;
}
.pop-up-box .footer {
	padding: 15px;
	/*box-shadow: 0 10px 10px -10px rgba(0,0,0,0.4) inset;*/
	border-radius: 0 0 8px 8px;
	background: #fff;
	border-top: 1px solid #bbb;
	text-align: center;
}
.pop-up-box-backdrop .icon.closebutton {
	z-index: 100;
	position: absolute;
	width: 30px;
	height: 30px;
	background-position: -297px -9px;
	right: -15px;
	top: -15px;
	background-color: #222;
	border-radius: 50%;
	box-shadow: 0 1px 7px rgba(0, 0, 0, 0.6);
	border: 2px solid #eeeeee;
	background-size: 720px;
	transition: background-color 200ms;
}
.pop-up-box-backdrop .closebutton:hover {
	background-color: #6d0010;
}

/* ==========================================================================
   Pick List
   ========================================================================== */

ul.picklist {
	height: 300px;
	margin: 15px;
	padding: 0;
	list-style-type: none;
	overflow: auto;
	box-sizing: border-box;
	box-shadow: inset 0 2px 2px rgba(0,0,0,0.2);
	border: 1px solid #fff;
	border-radius: 3px;
	background: #fff;
}
ul.picklist li {
	border-bottom: 1px solid #ddd;
	padding: 15px;
	cursor: pointer;
	transition: all 300ms;
}
ul.picklist li:hover {
	background: rgba(26, 153, 170, 0.1);
}
ul.picklist li.selected {
	background: rgba(26, 153, 170, 0.2);
}

ul.picklist li.category {
	padding: 0;
	border: none;
}
ul.picklist li.category span {
	display: block;
	padding: 15px;
	background: #3C948B;
	color: #FFFFFF;
}
ul.picklist li.category:hover {
	background: none;
}

ul.picklist li ul {
	list-style-type: none;
	padding: 0;
}

.hoverPopup {
	display: block;
	position: absolute;
	z-index: 1000;
	padding: 5px 10px;
}

/* ==========================================================================
   Important CSS Overrides
   ========================================================================== */

.revdropshadowtext, #employee-action-propose {
	color: #fff;
	/*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);*/
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.float-none {
	float: none;
}
.aligncenter {
	text-align: center;
	margin: 0 auto;
	display: block;
}
.hcenter {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.vcenter {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.hcenter.vcenter {
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.margin-bottom {
	margin-bottom: 15px;
}


/* ==========================================================================
   Gradients and Backgrounds
   ========================================================================== */
.transparentglass {
	background: rgba(255,255,255,0.5);
}
.grad-glass {
	background: #cccccc;
	background: linear-gradient(to bottom, #f1f1f1 0%,#cccccc 50%,#f6f6f6 100%) left top repeat-x;
}
.grad-ltgray {
	background: #cccccc;
	background: linear-gradient(to bottom, #f6f6f6 0%,#cccccc 100%) left top repeat-x;
}
.grad-blue {
	background: #0071bc;
	background: linear-gradient(to bottom, #29abe2 0%,#0071bc 100%);
}
.grad-darkbottomhighlight {
	background: #333333;
	background: linear-gradient(to bottom, #000000 0%,#000000 67%,#333333 100%);
}
.grad-darkgray {
	background: rgb(32, 32, 32);
	background : linear-gradient(0deg, rgb(32, 32, 32) 0%, rgb(85, 85, 85) 100%);
}
.grad-darkgrayblack {
	background: rgba(51, 51, 51, 1);
	background : linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(51, 51, 51, 1) 100%);
}
.grad-green {
	background: #6e8c16;
	background: linear-gradient(to bottom, #98c21f 0%,#6e8c16 100%);
}
.grad-yelloworange {
	background: rgb(241, 111, 0);
	background: linear-gradient(0deg, rgb(241, 111, 0) 0%, rgb(251, 188, 0) 100%);
}
.grad-red {
	background: rgb(237, 28, 36);
	background : linear-gradient(0deg, rgb(237, 28, 36) 0%, rgb(241, 90, 36) 100%);
}

.background-darker {
	background: #232830;
}
.background-dark {
	background: #303641;
}
.background-lighter {
	background: #363C46;
}

.background-ltgray {
	background: #fafafa;
}
.background-gray {
	background: #f3f3f3;
}
.background-medgray {
	background: #eaeaea;
}
.background-meddarkgray {
	background: #aaa;
}
.background-darkgray {
	background: #333;
}
.background-white {
	background: #FFFFFF;
}

.color-slate-midtone {
	color: #476073;
}
.background-slate-midtone {
	background: #476073;
}

.color-red-midtone {
	color: #DF6C4F;
}
.background-red-midtone {
	background: #DF6C4F;
}
.accessibilityview .color-red-midtone {
	color: #8e372c;
}
.accessibilityview .background-red-midtone {
	background: #8e372c;
}
.color-red-lighttone {
	color: #E1BFB7;
}
.background-red-lighttone {
	background: #E1BFB7;
}
.color-yellow-midtone {
	color: #EAA731;
}
.background-yellow-midtone {
	background: #EAA731;
}
.color-yellow-lighttone {
	color: #EAD89D;
}
.background-yellow-lighttone {
	background: #EAD89D;
}
.color-green-midtone {
	color: #6f933c;
}
.background-green-midtone {
	background: #6f933c;
}
.accessibilityview .color-green-midtone {
	color: #3E5A2D;
}
.accessibilityview .background-green-midtone {
	background: #3E5A2D;
}
.color-green-lighttone {
	color: #a4c475;
}
.background-green-lighttone {
	background: #a4c475;
}
.color-green-xlighttone {
	color: #d5e6b8;
}
.background-green-xlighttone {
	background: #d5e6b8;
}
.color-aqua-midtone {
	color: #3C948B;
}
.background-aqua-midtone {
	background: #3C948B;
}
.accessibilityview .color-aqua-midtone {
	color: #27554c;
}
.accessibilityview .background-aqua-midtone {
	background: #27554c;
}
.color-aqua-lighttone {
	color: #B0CBC9;
}
.background-aqua-lighttone {
	background: #B0CBC9;
}
.color-blue-midtone {
	color: #1A99AA;
}
.background-blue-midtone {
	background: #1A99AA;
}
.accessibilityview .color-blue-midtone {
	color: #174152;
}
.accessibilityview .background-blue-midtone {
	background: #174152;
}
.color-blue-lighttone {
	color: #A5CDD3;
}
.background-blue-lighttone {
	background: #A5CDD3;
}
.background-blue-vlighttone {
	background: #E6EEEF;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
	background-color: transparent;
	border: 0;
	overflow: hidden;
	/* IE 6/7 fallback */
	*text-indent: -9999px;
}

.ir:before {
	content: "";
	display: block;
	width: 0;
	height: 150%;
}

/*
 * Hide visually and from screen readers:
 */

.hidden, .mute {
	display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
	visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *	`contenteditable` attribute is included anywhere else in the document.
 *	Otherwise it causes space to appear at the top and bottom of elements
 *	that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *	`:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.clearfix:after {
	clear: both;
}

/*
 * Temp Show for measuring hidden elements. (See plugins.js)
*/
.temp-show {
	display:block !important;
}

.report-header {
	display: none;
}

/* ==========================================================================
   Media Queries for Responsive Design.
   ========================================================================== */

@media only screen and (max-width: 1024px) {
	.fluidfixedsidebar {
		position: absolute;
	}
}
@media only screen and (max-width: 1023px) {
	#header-content {
		text-align: left;
	}
	#home-button-wrapper.show ~ #header-content {
		padding-left: 137px;
	}
	#dhrmname {
		padding-right: 0;
	}
}
@media only screen and (max-width: 639px) {
	#account-button-wrapper {
		position: relative;
		right: 0;
		border-left: none;
	}
	#account-button{
		color: #fff;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
		border-left: none;
	}
}
@media only screen and (max-width: 480px) {
	#outer-wrapper.menuopen #inner-wrapper {
		-webkit-transform: translate3d(calc(100% - 48px), 0, 0);
		transform: translate3d(calc(100% - 48px), 0, 0);
	}
	#outer-wrapper.searchopen #inner-wrapper {
		-webkit-transform: translate3d(calc(-100% + 48px), 0, 0);
		transform: translate3d(calc(-100% + 48px), 0, 0);
	}
}
@media only screen and (max-width: 400px) {
	#mainmenu > ul > li {
		margin: 25px 0 30px calc((100% - 96px*2) / 3);
	}
	#mainmenu > ul > li > a {
		width: 96px;
		height: 96px;
	}
	#mainmenu > ul > li > a.icon {
		background-size: 720px;
	}
	#employee-menu {
		background-position: 0 -38px;
	}
	#classification-menu {
		background-position: -96px -48px;
	}
	#onboarding-menu {
		background-position: -192px -48px;
	}
	#offboarding-menu {
		background-position: -288px -48px;
	}
	#reports-menu {
		background-position: -288px -48px;
	}

	#mainmenu .submenu {
		width: calc(((100% - 96px * 2) / 3) + (96px * 2));
		font-size: 18px;
	}
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {
	/* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
	*,
	*:before,
	*:after {
		/*background: transparent !important;*/
		color: #000 !important; /* Black prints faster:
								   http://www.sanbeiji.com/archives/953 */
		box-shadow: none !important;
		text-shadow: none !important;
	}

	a,
	a:visited {
		text-decoration: none;
	}

	a[href]:after {
		content: none !important;
	}

	/*abbr[title]:after {*/
	/*content: " (" attr(title) ")";*/
	/*}*/

	/*
	 * Don't show links that are fragment identifiers,
	 * or use the `javascript:` pseudo protocol
	 */

	a[href^="#"]:after,
	a[href^="javascript:"]:after {
		content: "";
	}

	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}

	/*
	 * Printing Tables:
	 * http://css-discuss.incutio.com/wiki/Printing_Tables
	 */

	thead {
		display: table-header-group;
	}

	tr,
	img {
		page-break-inside: avoid;
	}

	img {
		max-width: 100% !important;
	}

	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}

	h2,
	h3 {
		page-break-after: avoid;
	}
	header {
		pointer-events: none;
	}
	input[type="text"], input[type="text"][readonly], input[type="text"]:disabled  {
		pointer-events: none;
		border: none;
		background: white;
	}
	input[type="checkbox"]:not(:checked) {
		display: none;
	}
	.no-print, no-print * {
		display: none !important;
	}
	.commentsButton {
		visibility: hidden;
	}
	.editorSection .sectionContent {
		display: block;
	}
	.deleteButton, .contact-delete, .hr-doc-delete, hr.hr-doc-view, .service-delete, .review-delete, .headerButton, .button, .doNothingButton, .addButton {
		visibility: hidden;
	}
	.circle_small {
		background-color: #666666;
	}
	.select2-arrow {
		visibility: hidden;
	}
	.select2-choice {
		disabled: true;
	}
	.select2-container {
		pointer-events: none;
		border: none;
	}
	.select2-container .select2-choice {
		border: none;
	}
	.select2-container.select2-container-disabled .select2-choice {
		border: none;
		background: white;
	}
	.select2-container-multi:after {
		visibility: hidden;
	}
	.select2-container-multi .select2-choices:before {
		display: none;
	}
	.select2-container-multi .select2-choices {
		box-shadow: none;
	}
	.select2-container-multi .select2-choices:after {
		box-shadow: none;
	}
	.select2-container-multi .select2-choices .select2-search-choice {
		border: none;
		background: none;
	}
	.select2-container-multi .select2-search-choice-close {
		visibility: hidden;
	}
	.select2-container-multi .select2-choice {
		background: white;
	}
	.select2-container-multi.select2-container-disabled .select2-choices {
		border: none;
		width: 600px;
	}
	.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
		border: none;
		float: none;
	}
	.select2-container-multi .select2-choices li {
		float: none;
	}
	.background-ltgray {
		font-weight: bold;
	}
	.entryTable th.headerSortUp {
		border-bottom: 4px solid #ddd;
	}
	.entryTable tr {
		pointer-events: none;
	}
}

#proposed-action-popup table {
	width: 100%;
	margin: -34px auto 0;
}
#proposed-action-popup table tr {
	height: 30px;
}
#proposed-action-popup table tr td:nth-child(4) {
	width: 82px;
}
.popup-content-area {
	padding: 0 15px;
}
#proposedActionAddActionButton {
	position: relative;
	top: -43px;
	left: 15px;
}
table td.center {
	text-align: center;
}
table td.arrows {
	font-size: 10px;
	cursor: pointer;
}
table td.arrows div:hover {
	color: #3eaaaa;
}
table th.arrows {
	font-size: 10px;
	cursor: pointer;
}
table th.arrows div:hover {
	color: #3eaaaa;
}
.reactSiblingContainer {
	display: inline;
}
.background-dark .icon.calendar {
	/* it was getting a transparent background and on a dark background so the calendar wasn't showing */
	background: #fafafa !important;
}
.no-margin {
	margin: 0 !important;
}

.searchContainer .sectionTitle {
	padding: 0 0 18px;
	color: #eee;
}

.searchContainer .section {
	margin-bottom: 10px;
}

.searchContainer span.inputLabel {
	color: white;
}
.searchContainer input[type="checkbox"] {
	margin: 0 0 10px 0;
	display: inline;
	width: inherit;
}

.deactivated {
	opacity: 0.45;
}

/* in a react InputList FormRow, can have additional elements after an input and the button was not lining up with the input. direct hire -> edit -> i9verifier select*/
.formRow .additionalButton {
	margin-left: 10px;
	top: 5px;
}
.searchPopUp .searchButton {
	float: right;
	margin-right: 20px;
}

.pop-up-box .footer {
	display: flex;
	justify-content: space-between;
}
.divider {
	width: 90%;
	margin: 0 auto 8px;
	border-top: 1px dashed #ccc;
	height: 1px;
	clear: both;
}
.select2-container {
	margin-left: 0;
}
.auditTrailList {
	font-size: 10px;
}
.auditTrailList td {
	height: inherit;
}
.appsButtonsTd {
	width: 70px;
	display: flex;
	justify-content: space-between;
}
.controls.center {
	display: flex;
	justify-content: space-around;
}
.controls.center .row {
	width: inherit;
	display: block;
}