* {
    margin: 0;
    padding: 0;
	font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
body {
    background-color: #fff;
    color: #000000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: normal;
}

.data-font {
	font-family: 'Roboto Mono', monospace;
}

#app {
	display: flex;
	flex-direction: column;
}

#title {
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	padding: 20px
}

#appBody {
	display: flex;
	flex-direction: row;
	padding: 0 20px;
}

#navigation {
	display: flex;
	flex-direction: column;
	width: 150px;
	border-right: 1px #aaa dotted;
	margin-right: 30px;
}
#navigation a {
	margin: 10px 0;
	text-align: center;
	text-decoration: none;
	font-size: 17px;
	color: black;
}
#navigation a.current {
	font-weight: bold;
	font-size: 20px;
}
#navigation a:first-child {
	margin: 0;
}
#navigation a:hover {
	color: blue;
}

#footer {
	text-align: center;
	color: #666;
	font-size: 8px;
	margin-top: 20px;
}